@media screen and (min-width: 1024px){
    #carousel img{
        height: 500px;
        background-size: cover;
    }
}

#prontos-para-doar,
#contato{
    margin-top: 32px;
}

#contato li{
    list-style: none;
}

#contato li a{
    color: #000;
}

#cabecalho{
    background-color: lightblue;
}

#carousel{
    margin-bottom: 32px;
}

footer{
    background-color: lightblue;
    align-items: center;
    margin: 0;
}

footer a{
    font-weight: bold;
    text-decoration: none;
    color: black;
}

footer a:hover{
    text-decoration: underline;
}

